<h2 id="title">Change password</h2>
<p id="notifications"><%= params[:alert] %></p>
<%= form_with url: "/change_password", :class => "pure-form pure-form-aligned" do |form| %>
  <fieldset>
    <div class="pure-control-group">
      <label for="field-current-password">Current password</label>
      <%= form.password_field :current_password, required: true, autofocus: true, placeholder: "Current Password", :class => "pure-input-1-2", :id => "field-current-password"%>
    </div>
    <div class="pure-control-group">
      <label for="field-new-password">New password</label>
      <%= form.password_field :new_password, required: true, placeholder: "New Password", :class => "pure-input-1-2", :id => "field-new-password" %>
    </div>
    <div class="pure-control-group">
      <label for="field-repeat-password">Repeat</label>
      <%= form.password_field :repeat_password, required: true, placeholder: "Repeat New Password", :class => "pure-input-1-2", :id => "field-repeat-password" %>
    </div>
    <div class="pure-control-group">
      <%= form.submit "Log in", :class => "pure-button pure-button-primary" %>
    </div>
<% end %>
